@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<html>
<body>
    <div class="text-center">
        <h1 class="display-4">NO! NOT THE BIRD!</h1>
        <p><center><img src="https://themake.files.wordpress.com/2012/07/twitter-bird-stabbed-thumb-500x271.jpg?w=584" width="720" height="340" alt="HTML Dog"></center></p>
    </div>
</body>
</html>
